body {
  background-color: black;
  color: linen;
}

.welcome {
  background-color: rgb(50, 50, 50);
  border-color: yellow;
  height: 15vh;
  width: 90vw;
  margin: 3rem auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.Wbuttons {
  height: wrap-content;
  width: 25%;
  margin: 0 auto;
}
.welcome h1 {
  margin: auto;
  padding: 0;
}
.welcome button {
  background-color: black;
  color: white;
  margin: 0 5%;
  border-radius: 15%;
  border: 1px solid yellow;
}
.welcome button:hover {
  color: yellow;
}

.about {
  width: 100%;
}
.profile {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: 1% auto;
  justify-content: space-around;
  font-size: 1rem;
}

.profile img {
  width: 20%;
  height: 20%;
  margin: auto;
  border-radius: 50%;
}
.data {
  width: 65%;
  height: auto;
  margin-left: 10%;
  text-align: justify;
}

.data h1 {
  text-align: center;
}

i {
  color: aliceblue;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  width: 90vw;
  height: 40rem;
  margin: auto;
  flex-direction: row;
  border-color: white;
  border-radius: 1rem;
  flex-wrap: wrap;
}

.timeline .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.timeline button {
  border-color: yellow;
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 0.4rem;
  background-color: black;
  color: white;
}

.timeline button:hover {
  border-color: yellow;
  color: yellow;
}

.timeline .canva {
  border-color: aliceblue;
  border-radius: 1rem;
  width: 98%;
  height: 80%;
  background-color: rgb(50, 50, 50);
  margin: auto;
}
.Timeline-Window {
  height: 80vh;
  overflow-y: scroll;
}

i {
  margin: auto;
}
.TL-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-color: white;
}
.TL-text {
  width: 75%;
}
.TL-Img {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.TL-Menu {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.TL-Menu button {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-color: white;
  color: white;
  border-radius: 10%;
  border-spacing: 1rem;
}
.TL-Menu button:hover {
  border-color: yellow;
}
h2 .vertical-timeline-element-title {
  color: white;
}

.Footer {
  position: sticky;
  display: flex;
  flex-direction: column;
  bottom: 0%;
  justify-content: center;
  text-align: center;
  left: 33%;
}

.proCards {
  display: flex;
  flex-direction: row;
  margin: 1rem 15%;
  background-color: rgb(50, 50, 50);
  height: 10rem;
  border: 1px solid white;
}

.proCards .img img {
  width: 10rem;
  height: 10rem;
  margin: 0 1rem;
}

.texts {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 3rem;
}
.texts p {
  margin: 0;
}

.workTemplate {
  display: flex;
  flex-direction: column;
  border: 1px white solid;
  text-align: center;
  margin: 0;
  height: 95vh;
  width: 95vw;
}

.workHeaders {
  display: flex;
  flex-direction: row;
  border: 1px white solid;
  height: 30%;
}
.workHeaders img {
  margin: 5%;
}
.workDataTL {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem;
  margin-left: auto;
  width: 20%;
}
.workDataTL p {
  margin: 0;
}
.workDataTL h4 {
  margin: 0;
}
.businessData {
  margin: auto 5%;
}

.jobData {
  display: flex;
  flex-direction: column;
  border: 1px white solid;
  height: 30%;
}

.workProjects {
  display: flex;
  flex-direction: column;
  border: 1px white solid;
  height: 30%;
}
.projectBullet {
  width: 15rem;
  border: 1px white solid;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  margin: 2%;
  justify-content: space-evenly;
}

.A3F {
  align-items: center;
  text-align: center;
  height: 95vh;
  width: 95vw;
  border: 1px solid white;
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.A3F h1 {
  width: 100%;
}
.backGround {
  width: 33%;
  display: flex;
  flex-direction: column;
  height: 85vh;
  border: 1px solid white;
  justify-content: space-evenly;
}
.probDesc {
  border: 1px solid white;
  padding: auto;
  height: auto;
}
.desiredState {
  border: 1px solid white;
  height: auto;
  padding: auto;
}
.goal {
  border: 1px solid white;
  height: auto;
  padding: auto;
}
.Solution {
  width: 33%;
  display: flex;
  flex-direction: column;
  height: 85vh;
  border: 1px solid white;
  justify-content: space-evenly;
}
.Results {
  width: 33%;
  display: flex;
  flex-direction: column;
  height: 85vh;
  border: 1px solid white;
  justify-content: space-evenly;
}
.Results img {
  width: 100%;
}
.A3Ftitle {
  height: 5rem;
  border: 1px solid white;
  margin-bottom: auto;
}
