body {
  background-color: black;
  color: linen;
}

.welcome {
  background-color: rgb(50, 50, 50);
  border-color: yellow;
  height: 15vh;
  width: 90vw;
  margin: 3rem auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.Wbuttons {
  height: wrap-content;
  width: 25%;
}
.welcome h1 {
  margin: auto;
  padding: 0;
}
.welcome button {
  background-color: black;
  color: white;
  margin: 0 5%;
  border-radius: 15%;
  border: 1px solid yellow;
}
.welcome button:hover {
  color: yellow;
}

.about {
  width: 100%;
}
.profile {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: 1% auto;
  justify-content: space-around;
  font-size: 1rem;
}

.profile img {
  width: 20%;
  height: 20%;
  margin: auto;
  border-radius: 50%;
}
.data {
  width: 65%;
  height: auto;
  margin-left: 10%;
}

i {
  color: aliceblue;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  width: 90vw;
  height: 40rem;
  margin: auto;
  flex-direction: row;
  border-color: white;
  border-radius: 1rem;
  flex-wrap: wrap;
}

.timeline .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.timeline button {
  border-color: yellow;
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 0.4rem;
  background-color: black;
  color: white;
}

.timeline button:hover {
  border-color: yellow;
  color: yellow;
}

.timeline .canva {
  border-color: aliceblue;
  border-radius: 1rem;
  width: 98%;
  height: 80%;
  background-color: rgb(50, 50, 50);
  margin: auto;
}
.Timeline-Window {
  height: 80vh;
  overflow-y: scroll;
}

i {
  margin: auto;
}
.TL-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-color: white;
}
.TL-Img1 {
  flex-wrap: wrap;
  margin: 0;
  border: 0;
  justify-content: center;
}

.TL-Img2 {
  flex-wrap: wrap;
  width: 40%;
  margin: 0;
  border: 0;
  justify-content: center;
}

.TL-Img3 {
  flex-wrap: wrap;
  width: 50%;
  margin: 0;
  border: 0;
  justify-content: center;
}
.TL-Img4 {
  flex-wrap: wrap;
  width: 50%;
  margin: 0;
  border: 0;
  justify-content: center;
}
.TL-Img5 {
  flex-wrap: wrap;
  width: 50%;
  margin: 0;
  border: 0;
  justify-content: center;
}
.TL-Menu {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.TL-Menu button {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-color: white;
  color: white;
  border-radius: 10%;
  border-spacing: 1rem;
}
.TL-Menu button:hover {
  border-color: yellow;
}

@media only screen and (max-width: 799px) {
  .about {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}
