body {
  background-color: black;
  color: linen;
}

/*About*/
.about {
  width: 100%;
}
.profile {
  display: flex;
  flex-direction: row;
  margin: 10% 0;
  justify-content: space-evenly;
}
.profpic img {
  border-radius: 50%;
  margin: 2rem;
}
.data {
  text-align: center;
  margin: auto;
  margin-bottom: 10%;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: black;
  font-size: 1rem;
  border-top: 1px solid white;
}
p.Footer {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
  margin: 2%;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  justify-content: center;
}

.headerImg {
  width: 100%;
}
.headerImg img {
  width: 100%;
}

.Menu {
  display: flex;
  flex-direction: row;
}
.Wbutton {
  margin: auto;
  padding: 1%;
  font-size: medium;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.Wbutton:hover {
  border: 1px solid yellow;
  color: yellow;
}

/*Timeline*/
.TL-Menu {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  justify-content: space-evenly;
}
.TL-MenuB {
  color: white;
  background-color: black;
  padding: 1%;
  font-size: small;
  border-radius: 5px;
  border: 1px solid white;
  margin: 3px;
}
.TL-MenuB:hover {
  color: yellow;
  border: 1px solid yellow;
}
.TL-Menu p {
  margin: 1px 0;
}

.vertical-timeline-element--work i {
  margin: auto;
}

.TL-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Work*/
.workTemplate {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.workHeaders {
  display: flex;
  flex-direction: row;
  margin: 1%;
  justify-content: space-evenly;
}
.businessData {
  margin: 3%;
  text-align: justify;
}
.workDataTL {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 0%;
}
.jobData {
  margin: 10%;
}
.jobData p {
  text-align: justify;
}
.WorkWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}
.projectBullet {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.projectBullet img {
  width: 10rem;
}
.projectBullet a {
  border: 1px solid white;
}
/*Programs*/
.proDisplay {
  margin: 10%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.proCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Blue {
  background-color: rgba(0, 0, 200, 0.3);
}
.Green {
  background-color: rgba(0, 200, 0, 0.3);
}
.Black {
  background-color: rgba(100, 100, 100, 0.3);
}
.Card {
  border-radius: 15px;
  margin: 5rem;
  transform: translateX(200%);
  transition: transform 400ms ease;
}
.Card:nth-of-type(even) {
  transform: translateX(-200%);
}
.Card.show {
  transform: translateX(0);
}

/*Projects*/
.A3F {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Cols {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  justify-content: space-between;
  margin: 3rem;
  height: 80%;
}
.backGround {
  width: 25%;
}
.backGround div {
  margin: 30% 0;
}
.Solution {
  width: 25%;
}
.Solution div {
  margin: 30% 0;
}
.Results {
  width: 25%;
}
.Results div {
  margin: 30% 0;
}

.Deliverable img {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }
  .profpic img {
    margin: 0 25%;
  }
  .workHeaders {
    flex-direction: column;
  }
  .workDataTL {
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    align-items: center;
  }
  .WorkWrap {
    flex-direction: column;
    width: 85%;
  }
  .Cols {
    flex-direction: column;
    width: 100%;
  }
  .backGround {
    width: 100%;
  }
  .Solution {
    width: 100%;
  }
  .Results {
    width: 100%;
  }
}
